@font-face {
  font-family: 'st_marie_thinthin';
  src: 
    url('../fonts/stmarie-thin-webfont.woff2') format('woff2'),
    url('../fonts/stmarie-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'bebas';ы
  src: 
    url(../fonts/bebas___-webfont.woff2) format('woff2'),
    url(../fonts/bebas___-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
/*
@font-face {
font-family: 'calibri';
src: url('../fonts/calibri.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'calibri';
src: url('../fonts/calibril.ttf') format('truetype');
font-weight: 300;
font-style: normal;
}

@font-face {
font-family: 'calibri';
src: url('../fonts/calibrili.ttf') format('truetype');
font-weight: 300;
font-style: italic;
}
*/


* {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body {
  margin: 0 auto;
  outline: 1px dashed dodgerblue;
  /*  width: 1600px;*/
}
h2 {
  width: 100%;
  margin: 0 auto;
  font-size: 40px;
  font-weight: 400;
  color: #ff9c00;
  font-family: st_marie_thinthin, serif;
  text-align: center;
  text-decoration: underline;
}
header {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  background: #fff;
}
nav {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

}
main {
  margin-top: 128px;
}
.main-logo {
  float: left;
}
.main-logo img {
  margin: 4px 0 0 16px;
}
.main-logo_text {
  width: 150px;
  margin: 14px 0 0 51px;
  display: inline-block;
  vertical-align: top;
  font-size: 37px;
  color: #fb9c06;
}
.main-logo_text span {
  font-family: bebas, sans-serif;
  font-size: 37px;
  color: #6e6d6b; 
  text-transform: uppercase;
}
.main-menu {
  float: right;
  padding: 0;
  margin: 0;
  font-size: 0;
  list-style: none;
}
.main-menu_item {
  display: inline-block;
  vertical-align: top;
  font-family: Calibri, sans-serif;

  list-style: none;
} 
.main-menu_item a {
  display: inline-block;
  vertical-align: top;
  min-height: 128px;
  min-width: 53px;
  padding: 77px 0 0;
  margin: 0 7px 0 66px;
  font-size: 22px;
  line-height: 26px;
  color: #9e9b9b;
  text-align: center;
  text-decoration: none;
  background: url(../img/spritesheet.png) -180px 10px no-repeat;
  transition: transform 0.2s;
  will-change: transform;
}
.main-menu_item a:hover {
  transform: scale(1.05);

}
.main-menu_item--pen-icon a {
  background-position: -256px 12px;
  margin-left: 61px;
}
.main-menu_item--info-icon a {
  background-position: 10px 11px;
}
.main-menu_item--earth-icon a {
  padding: 78px 13px 0 0;
  background-position: -52px 15px;
}
.main-menu_item--letter-icon a {
  background-position: -101px 22px;
}
main {
  width: 100%;
  min-height: calc(100vh - 128px - 73px);
}
.question {
  width: 100%;
  margin: 0 auto;
  min-height: 406px;
  border-top: 3px solid #fb9c06;
  border-bottom: 3px solid #fb9c06;
  background: url(../img/big-orange-bg.jpg) no-repeat;
  background-size: 100% auto;
}
.question_wrapper {
  width: 1200px;
  margin: 0 auto;
}
.question_text {
  display: inline-block;
  vertical-align: top;
  margin: 132px 0 0 20px;
  padding: 8px 30px;
  font-family: bebas, sans-serif;
  font-size: 37px;
  color: #fb9c06; 
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.69);
}
.question_text--invert {
  margin: 27px 0 0 10px;
  padding: 10px 33px 18px;
  color: #6e6d6b;
  background: rgba(255, 175, 18, 0.7);
}
/* footer*/

.main-footer {
  background: #fb9c06; 
  box-shadow: inset 0px -2px 3px 0px rgba(0, 0, 0, 0.49);
}
.main-footer div {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;    
  padding: 13px 20px 19px 120px;
  font-size: 33px;
  color: #fff;
  font-family: st_marie_thinthin, serif;
  text-transform: uppercase;
}
/*INFO BLOCK*/
.info-block {
  width: 100%;
  padding: 12px 0 20px;
}
.info-block_wrapper {
  width: 1200px;
  margin: 0 auto;
  font-size: 0;
}
.info-block_item {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  min-height: 190px;
  padding: 8px 7px 5px 20px;
}
.info-block_item p {
  margin: 10px 0 2px;
  font-family: calibri, sans-serif;
  font-size: 15px;
  line-height: 23px;
  color: #000;

  max-height: 138px;
  overflow: hidden;
}
.info-block_item a {
  float: right;
  margin-right: 15px;
  color: #ffac00;
  font-style: italic;
  font-weight: 300;
  font-size: 17px;
  text-decoration: none;
  transition: 0.3s;
}
.info-block_item a:hover {
  color: #a36b02;
  transform: scale(1.1);
}
/*team block*/
.team-block {
  width: 100%;
}
.team-block_wrapper {
  width: 1200px;
  margin: 0 auto;
  font-size: 0;
}
.team-block_title {
  margin: 12px 0 38px 5px;
}
.team-block_item {
  display: inline-block;
  vertical-align: top;
  width: 312px;
  margin-right: 147px;
  font-size: 15px;
  line-height: 23px;
  font-family: calibri, sans-serif;
  font-weight: 300;
}
.team-block_item--rabbit-align {
  margin-right: 115px;
}
.team-block_item--rabbit-align p {
  padding: 3px 0px 5px 40px;
}
.team-block_item--bird-align p {
  padding: 2px 15px 5px 38px;
}
.team-block_item--horse-align {
  position: relative;
  left: -5px;
}
.team-block_item--bird-align {
  position: relative;
  left: 10px;
}
.team-block_item:nth-of-type(3n) {
  margin-right: 0;
}
.team-block_item figure {
  margin: 0;
}
.team-block_img-container {
  width: 312px;
  height: 312px;
  overflow: hidden;
  border-radius: 50%;
  border: 10px solid #ffb540;
}
.team-block_item figcaption {
  margin: 0 0 29px;
  text-align: center;
  font-size: 22px;
  line-height: 23px;
  font-family: calibri, sans-serif;
  font-weight: 300;
}
.team-block_item span {
  color: #fb9c06;
}
.team-block_text {
  padding: 5px 15px 5px 38px;
  margin: 19px 0;

  max-height: 102px;
  overflow: hidden;
}
.team-block_item img {
  height: 312px;
  width: auto;
  margin: 0 0 0 -49px;
}
.team-block_item--horse-align img {
  height: auto;
  width: 312px;
  margin: -21px 0 0 0px;
}
.team-block_item--rabbit-align img {
  margin: 0 0 0 -49px;
}
.team-block_item--bird-align img {
  height: auto;
  width: 312px;
  margin: 0;
}

/*FORM BLOCK*/

.form {
  width: 100%;
}
.form_title {
  margin: 0 0px 65px 8px;

}
.form_wrapper {
  width: 1200px;
  margin: 12px auto 53px;
}
.form_item {
  width: 100%;
  margin-bottom: 37px;
  font-size: 0;
}
.mail-module {
  margin-bottom: 35px;
}
.textarea-module {
  margin-bottom: 23px;
}
.form_item label {
  display: inline-block;
  vertical-align: top;
  width: 132px;
  font-family: st_marie_thinthin, serif;
  font-size: 24px;
  color: #fb9c06;
}
.form_item input,
.form_item textarea {

  display: inline-block;
  vertical-align: top;
  padding: 4px 10px 5px;
  width: 1068px;
  font-size: 20px;
  color: #fb9c06;
  background: #f8f7f6;
  border: 1px solid #dedddc;
  border-bottom: none;
  border-right: none;
  box-shadow: inset 4px 1px 1px 0px #d2d0cf;
}
.form_btn {
  min-width: 176px;
  padding: 1px 19px 5px 10px;
  margin-right: 31px;
  font-family: st_marie_thinthin, serif;
  font-size: 30px;
  color: #fff;
  background: #fb9c06;
  float: right;
  border: 1px solid #f6bb5c;
  box-shadow: 0 3px 0 0 #cc830f;
}
textarea {
  height: 90px;
  resize: none;
}
.mail-module_label {
  margin: 5px 0 0;
}
.textarea-module_label {
  margin: 5px 0 0;
}